html{
    background-color: aqua;
}
.box{
    background-color: blueviolet;
    height: 400px;
    width: 300px;
    margin: 30vh;
    padding: 30px;
    border-radius: 30px;
    

}
.box,h2{
   color: black;
   text-align: center;
   font-size:2em;
}